<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>765368906144-ossvj7a4atef4av311kadrsromt5eu74.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.765368906144-ossvj7a4atef4av311kadrsromt5eu74</string>
	<key>API_KEY</key>
	<string>AIzaSyDahLEhULKbV25Kly6dwNkfEpBEhEpJjo0</string>
	<key>GCM_SENDER_ID</key>
	<string>765368906144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.schoolDashboard</string>
	<key>PROJECT_ID</key>
	<string>school-dashboard-1fcd0</string>
	<key>STORAGE_BUCKET</key>
	<string>school-dashboard-1fcd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765368906144:ios:dc9732ed118ced6c2374c5</string>
</dict>
</plist>